@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}
/* Tambahkan ini di file CSS global Anda, misal: index.css atau globals.css */
@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-30deg);
  }
  100% {
    transform: translateX(200%) skewX(-30deg);
  }
}

.animate-shine {
  animation: shine 1.5s infinite; /* Atur durasi dan infinite jika ingin selalu bergerak, atau sesuaikan dengan kebutuhan hover */
  animation-play-state: paused; /* Pause secara default */
}

.group:hover .animate-shine {
  animation-play-state: running; /* Jalankan saat di-hover */
}
